@model VoteExplorer.Models.MainVM
@{
    if (ViewBag.UserType == "IVY")
    {
        Layout = "_IVYLayout";
    }
    else
    {
        Layout = "_Layout";
    }

    string winnerLeader = "WINNER";
}
<div id="window">
    <strong><span id="dataretrievalStatus"></span></strong>
    <p>
        <div style="float:left;width:300px;" id="totalProgressBarResults"></div><div style="float:left;"> &nbsp; <span class="loadingStatusResults">0%</span></div>
    </p>

</div>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>
                    VOTE RESULTS
                    @if (ViewBag.UserType == "IVY")
                    {
                        <select id="ddlMeetingList" style="width:800px;">
                            <option>Broadridge (Annual General Meeting) - June 1, 2016</option>
                            <option>Exxon (Annual General Meeting) - June 1, 2016</option>
                            <option>Google (Special Meeting) - June 1, 2016</option>
                            <option>IBM (Annual General Meeting) - June 1, 2016</option>
                            <option>Microsoft (Annual General Meeting) - June 1, 2016</option>
                            <option>Nasdaq (Annual General Meeting) - June 1, 2016</option>
                            <option>Yahoo! (Special Meeting) - June 1, 2016</option>
                        </select>
                    }
                    else
                    {


                    }
                </h3>

            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="Click here to attend the AGM"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="demo-section k-content">
            <div id="example">
                <table id="dgCompletedProposals">
                    <thead>
                        <tr>
                            <th style="visibility:hidden;display:none;">
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <!-- Start of StatCounter Code for Default Guide -->
                        <script type="text/javascript">
                            var sc_project=11422069;
                            var sc_invisible=1;
                            var sc_security="e5b87542";
                            var sc_https=1;
                            var scJsHost = (("https:" == document.location.protocol) ?
                            "https://secure." : "http://www.");
                            document.write("<sc"+"ript type='text/javascript' src='" +
                            scJsHost+
                            "statcounter.com/counter/counter.js'></"+"script>");
                        </script>
                        <noscript>
                            <div class="statcounter">
                                <a title="web analytics"
                                   href="http://statcounter.com/" target="_blank">
                                    <img class="statcounter"
                                         src="//c.statcounter.com/11422069/0/e5b87542/1/" alt="web
                            analytics">
                                </a>
                            </div>
                        </noscript>
                        <!-- End of StatCounter Code for Default Guide -->
                    </tbody>
                </table>
                <script id="rowTemplate" type="text/x-kendo-tmpl">
                    <tr style="border-width:1px; border:solid" data-uid="#: quid #">
                        <td style="visibility:hidden;display:none;">
                            #: quid #|
                        </td>
                        <td class="details">
                            #: orderNum #: #: text #
                        </td>
                        <td class="voteresult">
                            <span>
                                VOTE @winnerLeader: #: winningPercentage #
                            </span>
                            <div class="box">
                                #: winningAnswer #
                            </div>
                            <span>
                                YOUR PROXY VOTED: #: proxyChoice #
                            </span>
                        </td>
                        <td class="employeeID">
                            <div id="answerPieChart_#: quid #" style="width: 150px; height: 150px;"></div>
                        </td>
                    </tr>
                </script>
                <script id="altRowTemplate" type="text/x-kendo-tmpl">
                    <tr class="k-alt" data-uid="#: quid #">
                        <td style="visibility:hidden;display:none;">
                            #: quid #|

                        </td>
                        <td class="details">
                            #: orderNum #: #: text #
                        </td>
                        <td class="voteresult">
                            <span>
                                VOTE @winnerLeader: #: winningPercentage #
                            </span>
                            <div class="box">
                                #: winningAnswer #
                            </div>
                            <span>
                                YOUR PROXY VOTED: #: proxyChoice #
                            </span>
                        </td>
                        <td class="employeeID">
                            <div id="answerPieChart_#: quid #" style="width: 150px; height: 150px;"></div>
                        </td>
                    </tr>
                </script>
                <script>
                    var accountsResults;
                    var accountResults;

                    var voteSessionABIResults;
                    var voteSessionContractResults;
                    var deployedVotingSessionResults;
                    var totalTokenVoters;
                    var votes = [];
                    var myWindow;
                    var pb;
                    var refreshDataFromBlockchain = "true";

                    $(document).ready(function () {
                        votes = JSON.parse("[{\"index\":\"0\",\"senderAddress\":\"0x4c3b38f3085a17c1fc8396a3b4b3015abbc6a2cd\",\"sessionId\":\"asdf\",\"voteSelections\":\"BBBAAAZZZ\",\"blockNumber\":\"3835784\",\"balance\":\"999995\"},{\"index\":\"1\",\"senderAddress\":\"0x13bfa0e110ee8807c8946254f7b08927a451a693\",\"sessionId\":\"59a30251f6df06444f638e69\",\"voteSelections\":\"AAAAAAAAA\",\"blockNumber\":\"3438811\",\"balance\":\"1000000\"},{\"index\":\"2\",\"senderAddress\":\"0x234908057ce3317f12b950a0baa9f3e8fd8dd16f\",\"sessionId\":\"59ac1ae4d3eced5a5b52b18a\",\"voteSelections\":\"ZZZZZZZZZ\",\"blockNumber\":\"3571252\",\"balance\":\"5005\"},{\"index\":\"3\",\"senderAddress\":\"0xc5f7b0e2dc9fadead417354e79e206a5127f884d\",\"sessionId\":\"59ac1b25d3eced5a5b52b18c\",\"voteSelections\":\"AAAAAAAAA\",\"blockNumber\":\"3571264\",\"balance\":\"24258\"},{\"index\":\"6\",\"senderAddress\":\"0xe4383f0422d5e3b1ca85dd9fc5e48f6047d4c311\",\"sessionId\":\"59ac1bc3d3eced5a5b52b192\",\"voteSelections\":\"BBBBBBBBB\",\"blockNumber\":\"3571299\",\"balance\":\"3333333\"},{\"index\":\"8\",\"senderAddress\":\"0x1318a6636d86cc0b47f9a654ba868d3882bc67ea\",\"sessionId\":\"59ac1c33d3eced5a5b52b196\",\"voteSelections\":\"AAAAAAAAA\",\"blockNumber\":\"3571324\",\"balance\":\"3906222\"},{\"index\":\"9\",\"senderAddress\":\"0x530dfe22f957ff63e8bda3f35b25dd6955993752\",\"sessionId\":\"59b96752d3eced5a5b52b1b8\",\"voteSelections\":\"ABBABBBAA\",\"blockNumber\":\"3761524\",\"balance\":\"20046\"},{\"index\":\"5\",\"senderAddress\":\"0xbd4f84221ca6183928938dedc3cc2f018398c017\",\"sessionId\":\"59bb04f9d3eced5a5b52b1c2\",\"voteSelections\":\"BBZABAAAB\",\"blockNumber\":\"3787763\",\"balance\":\"250111\"},{\"index\":\"4\",\"senderAddress\":\"0x1ef716198291e860430c9152f326197920743112\",\"sessionId\":\"59ac1b5cd3eced5a5b52b18e\",\"voteSelections\":\"AAAAAAAAA\",\"blockNumber\":\"3571277\",\"balance\":\"60505\"},{\"index\":\"7\",\"senderAddress\":\"0x342d16378853c409e87cb012fbbfec60f6f89c4b\",\"sessionId\":\"59ac1c04d3eced5a5b52b194\",\"voteSelections\":\"AAAAAAAAA\",\"blockNumber\":\"3571314\",\"balance\":\"400525\"}]");
                        CompileResults(votes, "1");
                    });

                    function CompileResults(v, recompile) {
                        var serviceURL = '/api/_GetCompletedQuestions_Realtime';

                        if (recompile == "0") {
                            v = [];
                            var vote = {
                                "index": "",
                                "senderAddress": "",
                                "sessionId": "",
                                "voteSelections": "",
                                "blockNumber": "",
                                "balance": ""
                            };
                            v.push(vote);
                        }

                        $.ajax({
                            type: "POST",
                            url: serviceURL,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(v),
                            success: function (data, status) {
                                console.log("processed votes = " + data);

                                $("#dgCompletedProposals").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        data: data
                                    },
                                    selectable: "single",
                                    change: function (arg) {
                                        var selected = $.map(this.select(), function (item) {
                                            return $(item).text();
                                        });

                                        var quid = selected[0].split('|')[0].trim();
                                        var UserType = "@ViewBag.UserType";

                                        $(location).attr("href", "/Observer/en/QuestionRealtime/" + quid + "|" + UserType);

                                    },
                                    rowTemplate: kendo.template($("#rowTemplate").html()),
                                    altRowTemplate: kendo.template($("#altRowTemplate").html())
                                });



                                ////
                                for (var x = 0; x < data.length; x++) {
                                    var serviceURL1 = '/api/_GetAnswerInformation_Realtime/' + data[x].quid;

                                    $.ajax({
                                        type: "GET",
                                        url: serviceURL1,
                                        data: { quid: data[x].quid },
                                        contentType: "application/json; charset=utf-8",
                                        dataType: "json",
                                        success: function (data, status) {

                                            dataSource = new kendo.data.DataSource({
                                                data: data.PieChartData,
                                                schema: {
                                                    model: {
                                                        fields: {
                                                            value: "value"
                                                        }
                                                    }
                                                }
                                            });

                                            $("#answerPieChart_" + data.PieChartData[0].quid).kendoChart({
                                                dataSource: dataSource,
                                                legend: {
                                                    visible: false
                                                },
                                                seriesDefaults: {
                                                    labels: {
                                                        visible: false,
                                                        background: "transparent",
                                                        template: "#= getAnsText(category) # - #= kendo.format('{0:P}', percentage)#"
                                                    }
                                                },
                                                tooltip: {
                                                    visible: true,
                                                    template: "#= getAnsText(category) # - #= kendo.format('{0:P}', percentage)#"
                                                },
                                                series: [{
                                                    type: "pie",
                                                    field: "value",
                                                    categoryField: "category"
                                                }]
                                            });


                                        },
                                        error: errorFunc
                                    });
                                }
                                ////
                            },
                            error: errorFunc
                        });



                    }

                    function successFunc(data, status) {


                    }

                    function errorFunc() {
                        alert('error');
                    }

                    function getAnsId(value) {
                        return value.split(')')[0];
                    }

                    function getAnsText(value) {
                        return value.split(')')[1];
                    }

                </script>
                <style>
                    .box {
                        width: 130px;
                        height: 50px;
                        border: 1px solid black;
                        position: relative;
                        text-align: center;
                        background: #ccc;
                        vertical-align: middle;
                        display: table-cell;
                        color: black;
                    }

                    .details {
                        width: 600px;
                    }

                    .voteresult {
                        width: 190px;
                    }

                    .employeeID {
                        width: 190px;
                    }



                    .k-grid td {
                        padding: 20px;
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        border-bottom-color: black;
                    }

                    .k-grid-header {
                        height: 0px;
                    }

                    .k-grid table {
                        width: auto;
                    }

                    .k-grid .k-alt td {
                    }
                </style>
            </div>
            <div id="answerPieChart" style="width: 250px; height: 250px;"></div>
        </div>
    </div>
</div>
@* All initialization scripts are rendered to the bottom of the page, see _Layout.cshtml *@
@section scripts {
    @Html.Kendo().DeferredScripts()
}
