@model VoteExplorer.Models.QuestionVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    if (ViewBag.UserType == "IVY")
    {
        Layout = "_IVYLayout";
    }
    else
    {
        Layout = "_Layout";
    }
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>VOTE RESULTS    <small> </small></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="Click here to attend the AGM"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="questionText" style="height:50px;">
        </div>
        <div id="mainPanel" style="height:635px">
            <div id="graphPanel">
                <div id="pieChartPanel">
                    <div id="answerPieChart" style="width: 450px; height: 450px;"></div>
                </div>
                <div id="barChartPanel">
                    <div id="answerBarChart" style="width: 450px; height: 450px;"></div>
                </div>
            </div>
            <div id="answerGridPanel" style="height: 300px; width: 100%;">
                <div id="dgAnswer"></div>
            </div>
        </div>
        <div id="dgAddress"></div>
        <div id="window">
        </div>
    </div>
</div>
<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
    var sc_project=11422069;
    var sc_invisible=1;
    var sc_security="e5b87542";
    var sc_https=1;
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript>
    <div class="statcounter">
        <a title="web analytics"
           href="http://statcounter.com/" target="_blank">
            <img class="statcounter"
                 src="//c.statcounter.com/11422069/0/e5b87542/1/" alt="web
    analytics">
        </a>
    </div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->
<script>
    var blockchainExplorerUrl = "@Model.blockchainExplorerUrl";

    $(document).ready(function () {
        $("#mainPanel").kendoSplitter({
                orientation: "vertical",
                panes: [
                    { collapsible: false, size: "475px" },
                    { collapsible: false, size: "790px" },
                ]
            });

            $("#graphPanel").kendoSplitter({
                panes: [
                    { collapsible: true },
                    { collapsible: false }
                ]
            });

;



            var myWindow = $("#window"),
                undo = $("#undo");
            undo.fadeIn();
            undo.click(function () {
                myWindow.data("kendoWindow").center().open();
                undo.fadeOut();
            });

            function onClose() {
                undo.fadeIn();
            }

            myWindow.kendoWindow({
                width: "1100px",
                title: "About Alvar Aalto",
                visible: false,
                actions: [
                    "Pin",
                    "Minimize",
                    "Maximize",
                    "Close"
                ],
                close: onClose
            });

            var quid = "@Model.quid";
            var serviceURL = '/api/_GetAnswerInformation_Realtime/' + quid;

            $.ajax({
                type: "GET",
                url: serviceURL,
                data: { quid: quid },
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data, status) {
                    $("#questionText").html("<p><h4>Question: </h4></p><p>" + data.questionText + "</p>");

                    dataSource = new kendo.data.DataSource({
                        data: data.PieChartData,
                        schema: {
                            model: {
                                fields: {
                                    value: "value"
                                }
                            }
                        }
                    });

                    $("#answerPieChart").kendoChart({
                        dataSource: dataSource,
                        legend: {
                            visible: false
                        },
                        seriesDefaults: {
                            labels: {
                                visible: true,
                                background: "transparent",
                                template: "#= getAnsId(category) # - #= kendo.format('{0:P}', percentage)#"
                            }
                        },
                        tooltip: {
                            visible: true,
                            template: "#= getAnsId(category) # - #= kendo.format('{0:P}', percentage)#"
                        },
                        series: [{
                            type: "pie",
                            field: "value",
                            categoryField: "category"
                        }]
                    });


                    var seriesSchema = data.BarChartSchema;

                    $("#answerBarChart").kendoChart({
                        dataSource: {
                            transport: {
                                read: {
                                    url: "/api/_GetAnswersBarChartData_Realtime/" + data.quid,
                                    dataType: "json"
                                }
                            },
                            sort: {
                                field: "year",
                                dir: "asc"
                            }
                        },
                        title: {
                            text: ""
                        },
                        legend: {
                            position: "top",
                        },
                        seriesDefaults: {
                            type: "column",
                            labels: {
                                visible: true,
                                position: "top",
                                padding: {
                                    top: -20
                                }
                            }
                        },
                        series: seriesSchema,
                        valueAxis: {
                            labels: {
                                format: "N0"
                            },
                            line: {
                                visible: false
                            }
                        },
                        tooltip: {
                            visible: true,
                            format: "N0",
                            template: "#= series.name #: #= value #"
                        }
                    });

                    var products = [{
                        ProductName: "nuclear",
                        UnitPrice: "Nuclear",
                        UnitsInStock: 5,
                        Discontinued: false
                    }, {
                        ProductName: "nuclear",
                        UnitPrice: "Nuclear",
                        UnitsInStock: 5,
                        Discontinued: false
                    }, {
                        ProductName: "nuclear",
                        UnitPrice: "Nuclear",
                        UnitsInStock: 5,
                        Discontinued: false
                    }, {
                        ProductName: "nuclear",
                        UnitPrice: "Nuclear",
                        UnitsInStock: 5,
                        Discontinued: false
                    }]

                    $("#dgAnswer").kendoGrid({
                        dataSource: {
                            data: data.PieChartData,
                            schema: {
                                model: {
                                    fields: {
                                        keyvalue: { type: "string" },
                                        answid: { type: "string" },
                                        text: { type: "string" },
                                        totalCoins: { type: "number" }
                                    }
                                }
                            },
                            pageSize: 20
                        },
                        scrollable: false,
                        sortable: true,
                        filterable: true,
                        selectable: "single",
                        change: function (arg) {
                            var selected = $.map(this.select(), function (item) {
                                return $(item).text();
                            });

                            var quid = selected[0].split('|')[0];
                            var serviceURL = '/api/_GetAnswerInformation_Realtime/' + quid;

                            $.ajax({
                                type: "GET",
                                url: serviceURL,
                                data: { quid: quid },
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data, status) {

                                    $("#dgAddress").kendoGrid({
                                        dataSource: {
                                            data: data.addresses,
                                            schema: {
                                                model: {
                                                    fields: {
                                                        keyvalue: { type: "string" },
                                                        id: { type: "number" },
                                                        address: { type: "string" },
                                                        blockNumber: { type: "number" },
                                                        totalCoins: { type: "number" }
                                                    }
                                                }
                                            },
                                            pageSize: 20
                                        },
                                        height: 310,
                                        scrollable: true,
                                        sortable: true,
                                        change: function onChange_Address(arg) {
                                            var selected = $.map(this.select(), function (item) {
                                                return $(item).text();
                                            });

                                            window.open(blockchainExplorerUrl + selected[0].split('|')[0]);
                                        },
                                        filterable: true,
                                        selectable: "multiple",
                                        pageable: {
                                            input: true,
                                            numeric: false
                                        },
                                        columns: [
                                            { field: "keyvalue", title: "keyvalue", hidden: true },
                                            { field: "id", title: "#", width: "80px" },
                                            { field: "address", title: "From" },
                                            { field: "blockNumber", title: "Block", width: "130px" },
                                            { field: "totalCoins", title: "Tokens", width: "130px" }
                                        ]
                                    });
                                },
                                error: errorFunc
                            });
                        },
                        pageable: {
                            input: true,
                            numeric: false
                        },
                        columns: [
                            { field: "keyvalue", title: "keyvalue", hidden: true },
                            { field: "answid", title: "Answer", width: "110px" },
                            { field: "text", title: "Description" },
                            { field: "totalCoins", title: "Tokens", width: "130px" }
                        ]
                    });
                },
                error: errorFunc
            });
        });

        function errorFunc() {
            alert('error');
        }

        function getAnsId(value) {
            return value.split(')')[0];
        }

        function getAnsText(value) {
            return value.split(')')[1];
        }




</script>
@* All initialization scripts are rendered to the bottom of the page, see _Layout.cshtml *@
@section scripts {
    @Html.Kendo().DeferredScripts()
}

