@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_IVYLayout";
}
<div class="right_col" role="main">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-bell-o"></span> Upcoming Vote Deadline <small><br />Alert is <span id="selectChoice_Votes48hours_Value">ON</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for votes within 48 hours?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_Votes48hours">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>

                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-clock-o"></span> Upcoming Meetings <small><br />Alert is <span id="selectChoice_Meetings48hours_Value">OFF</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for meetings within 48 hours?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_Meetings48hours">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-pencil-square-o"></span> New Meetings <small><br />Alert is <span id="selectChoice_NewlyAddedMeetings_Value">OFF</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for newly added meetings?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_NewlyAddedMeetings">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-file-text-o"></span> New Meeting Information <small><br />Alert is <span id="selectChoice_NewMeetingInfo_Value">OFF</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for new meeting info?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_NewMeetingInfo">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-user"></span> New Account <small><br />Alert is <span id="selectChoice_NewAccounts_Value">OFF</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for newly added accounts?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_NewAccounts">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-list-alt"></span> Proxy Cards <small><br />Alert is <span id="selectChoice_NewProxyCards_Value">ON</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for new proxy cards?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_NewProxyCards">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-gavel"></span> Power of Attorney <small><br />Alert is <span id="selectChoice_NewOrExpiringPowerOfAttorney_Value">OFF</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up notification for new or expiring power of attorneys?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_NewOrExpiringPowerOfAttorney">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-ban"></span> Vote Rejection <small><br />Alert is <span id="selectChoice_VoteRejection_Value">ON</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for rejected votes?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_VoteRejection">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
        <div class="x_panel">
            <div class="x_title" style="text-align:center;">
                <h2><span class="fa fa-thumbs-o-up"></span> Vote Recommendation <small><br />Alert is <span id="selectChoice_VoteRecommendation_Value">OFF</span></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <p>Set up alert notification for new vote third-party recommendations?</p>
                <!-- start pop-over -->
                <ul id="selectChoice_VoteRecommendation">
                    <li>
                        ALERT ON
                    </li>
                    <li>
                        ALERT OFF
                    </li>
                </ul>
                <!-- end pop-over -->

            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $("#selectChoice_Votes48hours").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0)
                {
                    $("#selectChoice_Votes48hours_Value").text("ON");
                }
                else
                {
                    $("#selectChoice_Votes48hours_Value").text("OFF");
                }
            },
            index: 0
        });

        $("#selectChoice_Meetings48hours").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_Meetings48hours_Value").text("ON");
                }
                else {
                    $("#selectChoice_Meetings48hours_Value").text("OFF");
                }
            },
            index: 1
        });

        $("#selectChoice_NewlyAddedMeetings").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_NewlyAddedMeetings_Value").text("ON");
                }
                else {
                    $("#selectChoice_NewlyAddedMeetings_Value").text("OFF");
                }
            },
            index: 1
        });

        $("#selectChoice_NewMeetingInfo").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_NewMeetingInfo_Value").text("ON");
                }
                else {
                    $("#selectChoice_NewMeetingInfo_Value").text("OFF");
                }
            },
            index: 1
        });

        $("#selectChoice_NewAccounts").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_NewAccounts_Value").text("ON");
                }
                else {
                    $("#selectChoice_NewAccounts_Value").text("OFF");
                }
            },
            index: 1
        });

        $("#selectChoice_NewProxyCards").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_NewProxyCards_Value").text("ON");
                }
                else {
                    $("#selectChoice_NewProxyCards_Value").text("OFF");
                }
            },
            index: 0
        });

        $("#selectChoice_NewOrExpiringPowerOfAttorney").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_NewOrExpiringPowerOfAttorney_Value").text("ON");
                }
                else {
                    $("#selectChoice_NewOrExpiringPowerOfAttorney_Value").text("OFF");
                }
            },
            index: 1
        });

        $("#selectChoice_VoteRejection").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_VoteRejection_Value").text("ON");
                }
                else {
                    $("#selectChoice_VoteRejection_Value").text("OFF");
                }
            },
            index: 0
        });

        $("#selectChoice_VoteRecommendation").kendoMobileButtonGroup({
            select: function (e) {
                if (e.index == 0) {
                    $("#selectChoice_VoteRecommendation_Value").text("ON");
                }
                else {
                    $("#selectChoice_VoteRecommendation_Value").text("OFF");
                }
            },
            index: 1
        });




    });
</script>
<style>
            .k-block, .k-draghandle, .k-inline-block, .k-widget
            {
                border-style: none
            }

</style>