@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_IVYLayout";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Sign up to attend Annual General Meeting</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color:red;">Annual General Meeting Date: June 10, 2017</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h3 style="text-align:center;">You have selected to attend the Annual General Meeting and Vote in person.<br><br></h3>
                        <h4 style="text-align:center;">Any online or postal ballots will be revoked.<br><br>A Legal Proxy document representing your share ownership will be issued to you and this Legal Proxy document must be presented at the meeting in order to vote your shares at the meeting<br><br><br></h4>
                        <!-- start project list -->
                        <div style="text-align:center;">
                            <a href="/InstitutionalVoting/Login" class="btn btn-round btn-dark">LOGOUT</a>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
