@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_IVYLayout";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Company Reporting <small>Proxy Disclosures and Reports</small></h3>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Information</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p>Please select proxy disclosures, company reports or third-party reports</p>

                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>Security ID</th>
                                    <th>Meeting Type</th>
                                    <th>Meeting Date</th>
                                    <th>Voting Status</th>
                                    <th>Disclosures and Reports</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Broadridge</td>
                                    <td>003258887</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        August 7, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="http://www.broadridge-ir.com/~/media/Files/B/Broadridge-IR/documents/proxy-statement-2016.pdf" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001383312&owner=exclude&count=40&hidefilings=0" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="http://www.broadridge-ir.com/financial-information/sec-filings.aspx" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Exxon</td>
                                    <td>758347865</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        August 8, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="http://ir.exxonmobil.com/phoenix.zhtml?c=115024&p=irol-reportsproxy" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000034088&owner=exclude&count=40&hidefilings=0" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="http://ir.exxonmobil.com/phoenix.zhtml?c=115024&p=irol-SEC" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Google</td>
                                    <td>752459968</td>
                                    <td>
                                        Special Meeting
                                    </td>
                                    <td>
                                        August 9, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">Voted SOME Accounts</button>
                                    </td>
                                    <td>
                                        <a href="https://abc.xyz/investor/other/annual-meeting.html" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001288776&owner=exclude&count=40&hidefilings=0" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="https://abc.xyz/investor/" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IBM</td>
                                    <td>004528878</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        August 10, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="https://www.ibm.com/investor/att/pdf/IBM-2016-Proxy-Statement.pdf" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?company=international+business+machines&owner=exclude&action=getcompany" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="https://www.ibm.com/investor/financials/financial-reporting.html" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Microsoft</td>
                                    <td>030252007</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        August 11, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="https://www.microsoft.com/en-us/Investor/annual-meeting.aspx" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000789019&owner=exclude&count=40&hidefilings=0" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="https://www.microsoft.com/en-us/Investor/sec-filings.aspx" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nasdaq</td>
                                    <td>885842510</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        August 12, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="http://ir.nasdaq.com/annuals-proxies.cfm" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001120193&owner=exclude&count=40&hidefilings=0" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="http://ir.nasdaq.com/sec.cfm?view=all" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Apple</td>
                                    <td>100005457</td>
                                    <td>
                                        Special Meeting
                                    </td>
                                    <td>
                                        August 13, 2017
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs">Voted NO Accounts</button>
                                    </td>
                                    <td>
                                        <a href="http://investor.apple.com/secfiling.cfm?filingid=1193125-17-3753&cik=320193" class="btn btn-dark btn-xs"><i class="fa fa-bullhorn"></i> Proxy Statement </a>
                                        <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000320193&owner=exclude&count=40&hidefilings=0" class="btn btn-primary btn-xs"><i class="fa fa-institution"></i> SEC Filings </a>
                                        <a href="http://investor.apple.com/sec.cfm" class="btn btn-primary btn-xs"><i class="fa fa-building-o"></i> Company Reports </a>
                                        <a href="http://www.glasslewis.com/proxy-research-3/" class="btn btn-info btn-xs"><i class="fa fa-group"></i> Third-party Reports </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>