@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_IVYLayout";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Vote Reports <small>Get voting history for any meeting</small></h3>
            </div>


        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Reports</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <p>Please click on a download format to get a voting history report of any meeting below</p>

                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th>Company Name</th>
                                    <th>Security ID</th>
                                    <th>Meeting Type</th>
                                    <th>Meeting Date</th>
                                    <th>Voting Date</th>
                                    <th>Voting Status</th>
                                    <th>Download Format</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Broadridge</td>
                                    <td>003258887</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        June 1, 2016
                                    </td>
                                    <td>
                                        May 1, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Exxon</td>
                                    <td>758347865</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        June 2, 2016
                                    </td>
                                    <td>
                                        May 2, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Google</td>
                                    <td>752459968</td>
                                    <td>
                                        Special Meeting
                                    </td>
                                    <td>
                                        June 3, 2016
                                    </td>
                                    <td>
                                        May 3, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-warning btn-xs">Voted SOME Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>IBM</td>
                                    <td>004528878</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        June 4, 2016
                                    </td>
                                    <td>
                                        May 4, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Microsoft</td>
                                    <td>030252007</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        June 5, 2016
                                    </td>
                                    <td>
                                        May 5, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nasdaq</td>
                                    <td>885842510</td>
                                    <td>
                                        Annual General Meeting
                                    </td>
                                    <td>
                                        June 6, 2016
                                    </td>
                                    <td>
                                        May 6, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-xs">Voted ALL Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Yahoo!</td>
                                    <td>100005457</td>
                                    <td>
                                        Special Meeting
                                    </td>
                                    <td>
                                        June 7, 2016
                                    </td>
                                    <td>
                                        May 7, 2016
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-xs">Voted NO Accounts</button>
                                    </td>
                                    <td>
                                        <a href="~/Files/imvotereport.pdf" class="btn btn-dark btn-xs"><i class="fa fa-file-pdf-o"></i> PDF </a>
                                        <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-envelope-o"></i> EMAIL </a>
                                        <a href="~/Files/simulatedexcelreport.xlsx" class="btn btn-info btn-xs"><i class="fa fa-file-excel-o"></i> EXCEL </a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <!-- end project list -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>