@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout_Russian";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Записаться на  Ежегодное общее собрание акционеров</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color:red;">Дата проведения Ежегодного общего собрания акционеров: 10/6/2017</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h3 style="text-align:center;"><input type="checkbox"> Я буду присутствовать на Ежегодном общем собрании акционеров и лично приму участие в голосовании<br><br></h3>
                        <h4 style="text-align:center;">Отмечая данный пункт, Вы подтверждаете Ваше решение лично посетить Ежегодное общее собрание акционеров 2017 г. и проголосовать исключительно в ходе этого собрания.   <br><br>Любые голосования по почте либо в режиме онлайн будут аннулированы.<br><br><br></h4>
                        <!-- start project list -->
                        <div style="text-align:center;">
                            <a href="/ShareholderVoting/ru/AttendConfirm" class="btn btn-round btn-info">Подтвердить</a>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <!-- Start of StatCounter Code for Default Guide -->
        <script type="text/javascript">
        var sc_project=11422069; 
        var sc_invisible=1; 
        var sc_security="e5b87542"; 
        var sc_https=1; 
        var scJsHost = (("https:" == document.location.protocol) ?
        "https://secure." : "http://www.");
        document.write("<sc"+"ript type='text/javascript' src='" +
        scJsHost+
        "statcounter.com/counter/counter.js'></"+"script>");
        </script>
        <noscript><div class="statcounter"><a title="web analytics"
        href="http://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="//c.statcounter.com/11422069/0/e5b87542/1/" alt="web
        analytics"></a></div></noscript>
        <!-- End of StatCounter Code for Default Guide -->
