@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Help</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group top_search">
                    <div class="input-group">
                        <span class="input-group-btn">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color:red;">If you have difficulty, please make the appropriate selection below.</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <h3 style="text-align:center;">For help with your control number, please see the instructions mailed to you<br><br></h3>
                        <h4 style="text-align:center;">For help using the online portal, please contact technical support<br><br><br></h4>
                        <!-- start project list -->
                        <div style="text-align:center;">
                            
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>