@model VoteExplorer.Models.MainVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script>
                var jsonMainVM

                $(document).ready(function () {

                    jsonMainVM = @Html.Raw(Json.Serialize(Model.activeQuestions));

                    $("#btnSubmit").click(function () {
                        for (x=0;x<jsonMainVM.length;x++)
                        {
                            var selectedValue = $('input[name=selection_' + jsonMainVM[x].quid + ']:radio:checked').val();
                            if (selectedValue != null)
                            {
                                jsonMainVM[x].selectedAnswerId = selectedValue;
                            }
                            else
                            {
                                jsonMainVM[x].selectedAnswerId = "Z";                                 
                            }
                        }

                        var serviceURL = '/api/SubmitVotes';
                        $.ajax({
                            headers: {
                                'Accept': 'application/json',
                                'Content-Type': 'application/json'
                            },
                            type: "POST",
                            url: serviceURL,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: JSON.stringify(jsonMainVM),
                            success: successFunc,
                            error: errorFunc
                        });
                    });
                });




    function successFunc(data, status) {
        if (data=="Insufficient")
        {

            alert("You do not have sufficient funds to proceed with the vote.  Please try again later.")
        }
        else
        {
            $(location).attr("href", "/ShareholderVoting/en/Submit/" + data);
        }
    }

    function errorFunc() {
        alert('error');
    }


</script>

@using (Html.BeginForm("Submit", "ShareholderVoting", FormMethod.Post))
{
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Proxy Voting Ballot    <small> Royal Dutch Shell plc</small></h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2 style="color:red;">Deadline to Vote: October 10, 2017</h2>
                            <div style="text-align:center;">
                                <span class="input-group-btn">
                                    @*<a href="/ShareholderVoting/en/Attend" class="btn btn-danger" type="button" style="color: white;">Click here to attend the Annual General Meeting to vote in person</a>*@
                                </span>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <p>Please make vote selections below:</p>
                            <!-- start project list -->
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th style="width: 1%">#</th>
                                        <th style="width: 20%">Proposal</th>
                                        <th>Director Info</th>
                                        <th>Board Recommendation</th>
                                        <!-- <th>Status</th> -->
                                        <th style="width: 20%">Vote Selection</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int x = 0; x < Model.activeQuestions.Count(); x++)
                                    {
                                        VoteExplorer.Models.QuestionVM question = Model.activeQuestions[x];
                                        <tr>
                                            <td>@question.orderNum</td>
                                            <td>
                                                <a>Proposal @question.proposalNumber</a>
                                                <br />
                                                <small>@question.text</small>
                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li>
                                                        <img src="~/images/user.png" class="avatar" alt="Avatar">
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-xs">For</button>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="selection_@question.quid" id="selection_@question.quid" value="A"><i class="fa fa-thumbs-o-up"></i> For
                                                        </label>
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="selection_@question.quid" id="selection_@question.quid" value="B"><i class="fa fa-thumbs-o-down"></i> Against
                                                        </label>
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="selection_@question.quid" id="selection_@question.quid" value="Z"><i class="fa fa-ban"></i> Abstain
                                                        </label>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <!-- Start of StatCounter Code for Default Guide -->
                                    <script type="text/javascript">
                                    var sc_project=11422069; 
                                    var sc_invisible=1; 
                                    var sc_security="e5b87542"; 
                                    var sc_https=1; 
                                    var scJsHost = (("https:" == document.location.protocol) ?
                                    "https://secure." : "http://www.");
                                    document.write("<sc"+"ript type='text/javascript' src='" +
                                    scJsHost+
                                    "statcounter.com/counter/counter.js'></"+"script>");
                                    </script>
                                    <noscript><div class="statcounter"><a title="web analytics"
                                    href="http://statcounter.com/" target="_blank"><img
                                    class="statcounter"
                                    src="//c.statcounter.com/11422069/0/e5b87542/1/" alt="web
                                    analytics"></a></div></noscript>
                                    <!-- End of StatCounter Code for Default Guide -->
                                </tbody>
                            </table>
                            <!-- end project list -->
                            <div style="text-align:center;">
                                <a href="/ShareholderVoting/en/Index/0" class="btn btn-round btn-danger">RESET VOTES</a>
                                <button id="btnSubmit" type="button" class="btn btn-round btn-success">SUBMIT VOTES</button>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }
